* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 50px;
    background-color: #D5B4B4;
    display: flex;
    flex-wrap: wrap;
}

#addBtn {
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: #867070;
    color: white;
    padding: 10px;
    border: 0;
    outline: 0;
    border-radius: 5px;
}

.note {
    width: 400px;
    height: 400px;
    margin: 15px;
    /* margin-top: 130px; */
    margin-top: 9rem;
    margin-bottom: 5px;
    margin-left: 45px;
}

.tool {
    width: 100%;
    background-color: #867070;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: end;
}

.tool i {
    padding: 5px;
    cursor: pointer;
}

.note textarea {
    border: none;
    background-color: #F5EBEB;
    width: 100%;
    height: 100%; 
    color: #000000;
    resize: none;
    padding: 10px;
    font-size: 18px;
}

.note textarea:focus {
    border: 0;
    outline: 0;
}

h1{
    position:absolute;
    font-family: 'Croissant One', cursive;
    color: #867070;
    font-size: 4rem;
    /* margin-bottom: 6rem; */
    margin-left: 28rem;
    padding-top: 1rem;
}
